<div class="row">
<div class="col-md-12">
	<section class="widget">
		<div class="widget-body">
		<!-- 
			<form name="searchNameForm"					
					data-ui-jq="parsley" 
					data-parsley-priority-enabled="ture"
					ng-submit="searchNameFormSubmit(searchNameForm.$valid)">
					
			<div class="clearfix form-group">
				<div class="pull-left">
					<h5 class="fw-bold">관제점</h5>
				</div>
				<div class="pull-left margin_left_10">
					<select multiple id="country-select"
							data-ui-jq="select2"
							class="select2 form-control"
							style="width:450px"
							tabindex="-1"
							data-placeholder="관제점을 클릭하여 선택하세요."
							ng-model="searchName"
							name="searchName"
							data-ui-options="{minimumResultsForSearch: 1, maximumSelectionSize:1}"
							data-minimum-results-for-search="1">
							<option value=""></option>
							<option ng-repeat="point in dataList" value="{{point.no}}">{{point.subject}} &nbsp;&nbsp; [{{point.tagNames}}]</option>
					</select>
					<ul ng-show="searchName_error" class="parsley-errors-list filled"><li class="parsley-required">필수 입력사항입니다.</li></ul>
				</div>
				<span class="input-group-btn pull-left">
					<button type="submit" class="btn btn-default">그래프 보기</button>
                </span>
			</div>
			</form>
			
			<div ng-show="chartEnable" class="margin_top_30">
				<nvd3 options="chartOptions" data="chartData" config="{refreshDataOnly: false}" api="api" objectequality="true"></nvd3>
			</div>
		 -->
		 
		    <button ng-click="run=!run">Start / Stop</button>
    
    <nvd3 options="options" data="data" api="nvd3Api" config="{refreshDataOnly: false}" objectequality="true"></nvd3>
   <button ng-click="fresh()">fresh</button>
		</div>
	</section>
</div>
</div>