<div class="col-md-12">
	<section class="widget">
		<div class="widget-body custom_list_div_height">
		
			<form name="searchForm" ng-submit="searchClickFn(searchForm.$valid)">
			<div class="clearfix form-group">
				<div class="pull-left">
					<h5 class="fw-bold">관제점</h5>
				</div>			
				<div class="pull-left margin_left_20">
					<input type="search"
					id="searchName"
					class="form-control" 
					style="width:250px"
					placeholder="  관제점 검색어를 입력하세요.">
				</div>
				<span class="input-group-btn">
                  <button type="submit" class="btn btn-default">Search</button>
                </span>
                <!-- 
                <code>searchText : {{searchText}}</code>
                 -->
			</div>
			</form>

			<table
				class="table table-hover table-lg mt-lg mb-0 margin_top_30">
				<thead>
					<tr>
					<tr>
						<th class="text-center" ng-class="getSortClass('no')" ng-click="sortAction('no')">SEQ</th>					
						<th class="text-center" ng-class="getSortClass('tagID')" ng-click="sortAction('tagID')">아이디</th>
						<th class="text-center" ng-class="getSortClass('name')" ng-click="sortAction('name')">관제점</th>
						<th class="hidden-xs text-center" ng-class="getSortClass('tagAddr')" ng-click="sortAction('tagAddr')">주소</th>
						<th class="hidden-xs text-center" ng-class="getSortClass('interval')" ng-click="sortAction('interval')">유형</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="point in dataList | filter:searchText | orderBy:sortAttr:sortOder">
					<!-- <tr ng-repeat="point in dataList | filter:searchText"> -->
						<td class="text-center">{{point.no}}</td>		
						<td class="text-center">{{point.tagID}}</td>
						<td class="text-center">{{point.name}}</td>
						<td class="hidden-xs text-center">{{point.tagAddr | limitTo:55}}</td>
						<td class="hidden-xs text-center"><span class="label label-info">{{point.dataType}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</div>