<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<section class="widget">
			<div class="widget-body">
				<form name="editForm" class="form-horizontal board_basic" data-ui-jq="parsley" data-parsley-priority-enabled="ture"
					ng-submit="formSubmit(editForm.$valid)">
					<!-- 
					<input type="hidden" name="tagID" ng-model="currentPoint.tagID" value="{{currentPoint.tagID}}">
					 -->
					<fieldset>
						<legend>
							<span class="label label-default text-white mr-xs"> 기본 정보 </span> 기본 정보를 입력해 주세요.
						</legend>
						<div class="form-group">
							<label class="control-label col-sm-3" for="subject"><strong>그래프 제목</strong></label>
							<div class="col-sm-9">
								<input type="text" id="subject" name="subject" class="form-control"
									ng-model="currentData.subject">
								<ul ng-show="subject_error" class="parsley-errors-list filled" id="parsley-id-4"><li class="parsley-required">필수 입력사항입니다.</li></ul>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="tagIDs"><strong>관제점</strong></label>
							<div class="col-sm-9">
								<select multiple class="select2 form-control" id="tagIDs" ng-model="currentData.tagIDs"
									data-ui-jq="select2" 
									data-ui-options="{minimumResultsForSearch: 5, maximumSelectionSize:3}"
									data-placeholder="관제점을 선택하세요." 
									data-minimum-results-for-search="5"
									tabindex="-1">
									<option ng-repeat="point in dataList" value="{{point.name}}:{{point.id}}">{{point.name}}</option>
								</select>
								<ul ng-show="tagIDs_error" class="parsley-errors-list filled" id="parsley-id-multiple-tagIDs"><li class="parsley-required">필수 입력사항입니다.</li></ul>
							</div>
						</div>						
					</fieldset>
					
					<!-- 
					<code>editForm.subject.$valid = {{editForm.subject.$valid}}</code><br>
					<code>editForm.subject.$error = {{editForm.subject.$error}}</code><br>
					<code>currentData.tagIDs = {{currentData.tagIDs}}</code><br>
					<code>editForm.$valid = {{editForm.$valid}}</code><br>
   					-->
   					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary btn-rounded pull-right">Save</button>
						<span class="btn btn-default btn-inverse" ng-click="cancelAction()">Cancel</span>
					</div>
					
				</form>
			</div>
		</section>
	</div>
</div>