<div ng-init="prepareAction()"></div>
<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="app-spinner-hah" spinner-start-active="true"></span>


<div class="row">
<div class="col-md-12">
	<section class="widget">
		<div class="widget-body">
		
			<form name="searchNameForm"					
					data-ui-jq="parsley" 
					data-parsley-priority-enabled="ture"
					ng-submit="searchNameFormSubmit(searchNameForm.$valid)">
					
			<div class="clearfix" >		
				<div class="pull-left">
					<h5 class="fw-bold">관제점</h5>
				</div>
				<div class="pull-left col-sm-5">
					<select multiple id="country-select"
							data-ui-jq="select2"
							class="select2 form-control"
							tabindex="-1"
							data-placeholder="알람 제목 또는 관제점을 클릭하여 선택하세요."
							ng-model="searchNo"
							name="searchNo"
							data-ui-options="{minimumResultsForSearch: 1, maximumSelectionSize:1}"
							data-minimum-results-for-search="1">
							<option value=""></option>
							<option ng-repeat="point in alarmList.values()" value="{{point.alarmNo}}">{{point.alarmName}} &nbsp;&nbsp; [{{point.tagName}}]</option>
					</select>
					<ul ng-show="searchNo_error" class="parsley-errors-list filled"><li class="parsley-required">필수 입력사항입니다.</li></ul>
				</div>
				<div class="pull-left">
					<h5 class="fw-bold">기간</h5>
				</div>
				<div class="pull-left">
					<div class="pull-left margin_left_10">
						<input class="custom_datetimepicker pull-left" data-ui-jq="datetimepicker"
							data-ui-options="{viewMode: 'days', format: 'YYYY-MM-DD'}" type="text" 
							id="searchDate1" name="searchDate1" ng-model="searchDate1"/>
					</div>
					<ul ng-show="searchDate1_error" class="parsley-errors-list filled"><li class="parsley-required">필수 입력사항입니다.</li></ul>
				</div>
				<div class="pull-left">
					<h5 class="fw-bold">&nbsp; ~ </h5>
				</div>
				<div class="pull-left">
					<div class="pull-left margin_left_10">	
						<input class="custom_datetimepicker pull-left" data-ui-jq="datetimepicker"
							data-ui-options="{viewMode: 'days', format: 'YYYY-MM-DD', useCurrent: false}" type="text" 
							id="searchDate2" name="searchDate2" ng-model="searchDate2"/>
					</div>
					<ul ng-show="searchDate2_error" class="parsley-errors-list filled"><li class="parsley-required">필수 입력사항입니다.</li></ul>
				</div>
				<div class="pull-left margin_left_10">
					<button type="submit" class="btn btn-default">Search</button>
				</div>
			</div>
			</form>
			
			<!-- 
			<code>searchNo : {{searchNo}}</code>
			<code>searchName : {{searchName}}</code>
			<code>searchDate1 : {{searchDate1}}</code>
			<code>searchDate2 : {{searchDate2}}</code>
			
			<div class="margin_top_30" ng-show="dataList.length == 0 || dataList.length == null">
			<span>검색 조건을 선택해 주세요.</span>
			</div>
			 -->
			<div class="margin_top_30" ng-show="dataList.length > 0">
			<span>총 {{dataList.length}}개의 알람이 있습니다.</span>
			<table
				class="table table-hover table-lg mt-lg mb-0">
				<thead>
					<tr>
					<tr>
						<th class="text-center" ng-class="getSortClass('id')" ng-click="sortAction('id')">변경 시간</th>
						<th class="text-center" ng-class="getSortClass('value')" ng-click="sortAction('value')">태그 값</th>
						<th class="text-center" >알람 내역</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="point in dataList"
						total-items="page.totalElements" current-page="pagination.current">
						<td class="text-center">{{point.datetime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
						<td class="text-center">{{point.value}} </td>
						<td class="text-center"><span class="label label-danger">{{point.alarmName}}</span></td>
					</tr>
				</tbody>
			</table>			
			</div>
			
			<div class="margin_top_30" ng-show="dataList.length == 0">
			<table
				class="table table-hover table-lg mt-lg mb-0">
				<thead>
					<tr>
					<tr>
						<th class="text-center">변경 시간</th>
						<th class="text-center">태그 값</th>
						<th class="text-center">알람 내역</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center" colspan="3">해당 데이터가 없습니다.</td>
					</tr>
				</tbody>
			</table>
			</div>
			
		</div>
	</section>
</div>
</div>