<span ng-init="prepareAction()" us-spinner="{radius:30, width:8, length: 16}" spinner-key="app-spinner-pm" spinner-start-active="true"></span>
<div class="widget-container">
	<!-- svg_menu -->
	<div class="col-md-2 col-sm-2">
		<section class="widget">
			<div class="widget-body point-monitor-menu no-padding">
				<div class="list-group list-group-lg custom_monitor_menu_energy">
					<a class="list-group-item custom_monitor_menu" ng-class="svgFileChangeClass2(menu.url)">
						<i class="fa fa-circle text-primary mt-sm" ng-class="svgFileChangeClass('elevator.svg')"></i> <span class="no-margin">E/V 메인</span> 
					</a>					
				</div>
			</div>
		</section>
	</div>

	<!-- svg_render -->
	<div class="col-md-10 col-sm-10" >
		<section class="widget">
			<div class="widget-body text-center no-padding">				
				<div id="svg_render" class="custom_monitor_menu_energy"></div>
			</div>
		</section>
	</div>

</div>

<script type="text/ng-template" id="network-confirm-content.html">
	<div class="modal-header">
		<h4 class="modal-title text-align-center fw-bold mt" id="myModalLabel18">연결 오류</h4>
	</div>
	<div class="modal-body">	
		<div class="row">
			<div class="col-md-12">
			<p class="text-align-center fs-mini text-muted mt-sm">
			데이터 서버와의 연결이 중지되었습니다. 네트워크 환경을 확인해 주십시오.
			</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default btn-inverse" data-ng-click="cancel()">중지</button>
		<button type="button" class="btn btn-primary btn-rounded" data-ng-click="ok()">연결 재시도</button>
	</div>
</script>